/* Friends list */
ul {
  list-style-type: none;
}
p {
  margin: 5px;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  display: flex;
  justify-content: center;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
}
.green {
  width: 5px;
  height: 5px;
  border: 5px solid green;
  border-radius: 50px;
}
.red {
  width: 5px;
  height: 5px;
  border: 5px solid red;
  border-radius: 50px;
}
/* ============================= */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  box-shadow: -1px 6px 13px 9px rgba(0, 0, 0, 0.41);
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description .avatar {
  justify-self: center;
  align-self: center;
  margin-top: 30px;
  width: 170px;
  border: 3px solid black;
  border-radius: 100%;
}
.name {
  font-weight: 700;
  font-size: 25px;
}
.tag {
  color: grey;
  font-size: 22px;
}
.location {
  color: grey;
  font-size: 22px;
}
.stats {
  display: flex;
}
.stats li {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  padding: 15px;
}
.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: gray;
}
.quantity {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
}
